<div th:fragment="sidebar" xmlns:th="http://www.thmeleaf.org">
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="index.html"><img src="images/icon/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>Dashboard</span></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span> Sellers
                                    </span></a>
                            <ul class="collapse">
                                <li><a href="index.html"> All Sellers</a></li>
                                <li><a href="index3-horizontalmenu.html">Approved Sellers</a></li>
                                <li><a href="index3-horizontalmenu.html">Un-Approved Sellers</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fab fa-adversal"></i><span>Adds</span></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span> Reviews
                                    </span></a>
                            <ul class="collapse">
                                <li><a href="index.html"> All Reviews</a></li>
                                <li><a href="index3-horizontalmenu.html">Approved Reviews</a></li>
                                <li><a href="index3-horizontalmenu.html">Un-Approved Reviews</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>