<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thmeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign up - Merkato </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/icon/favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/metisMenu.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/default-css.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form th:action="@{/register}" method="post" th:object="${user}">
                    <div class="login-form-head" style="background-color:#10a08a; ">
                        <h4>Sign up</h4>
                        <p>Hello there, Sign up and Join with Us</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="exampleInputName1">First Name</label>
                            <input type="text" id="exampleInputName1" th:field="*{firstName}" required>
                            <i class="fas fa-user"></i>
                        </div>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect date</p>
                        <div class="form-gp">
                            <label for="exampleInputName1">Last Name</label>
                            <input type="text" id="exampleInputName2" th:field="*{lastName}" required>
                            <i class="ti-user"></i>
                        </div>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        <div class="form-gp">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" id="exampleInputEmail1" th:field="*{email}" required>
                            <i class="ti-email"></i>
                        </div>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        <div class="form-gp">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" id="exampleInputPassword1" th:field="*{password}" required>
                            <i class="ti-lock"></i>
                        </div>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{password}"></p>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio"  id="customRadio4" th:field="*{role.id}" value="2" required class="custom-control-input">
                            <label class="custom-control-label" for="customRadio4">Register as Seller</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio5" th:field="*{role.id}" value="3"  class="custom-control-input">
                            <label class="custom-control-label" for="customRadio5">Register as Buyer</label>
                        </div>
                        <p th:if="${#fields.hasErrors('role')}" th:errors="*{role.id}"></p>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a th:href="@{/login}">Sign in</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    
    <!-- others plugins -->
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>