<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{js/registration.js}"></script>
    <link rel="stylesheet" th:href="@{../static/css/main.css}" type="text/css">
</head>
<body>

<div th:fragment="registrationForm" class="container">
    <div id="success" style="display:none"></div>
    <div id="errors" style="display:none"></div>

<form action="#" method="post" id="userForm" style="border:1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>

        <label for="firstName"><b>First Name</b></label>
        <input type="text" id="firstName" placeholder="Enter First Name" name="firstName" required>

        <label for="lastName"><b>First Name</b></label>
        <input type="text" id="lastName" placeholder="Enter Last Name" name="lastName" required>

        <label for="email"><b>Email</b></label>
        <input type="text" id="email" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" id="psw" placeholder="Enter Password" name="password" required>

        <label><b>Register As:</b>
            <input type="radio" name="role" value="seller" style="margin-bottom:15px"> Seller
            <input type="radio" name="role" value="buyer" style="margin-bottom:15px"> Buyer
        </label>


        <div class="clearfix">
            <input type="button" value="Sign Up" onclick="saveUserData();" class="signupbtn">
        </div>
    </div>
</form>

</div>

</body>
</html>