<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="buyer/partial/header_includes :: head">

</head>
<body>
<header th:replace="buyer/partial/header :: navbar-default">
</header>

<body class="bg-light">

<div class="container">
    <div class="py-1 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Checkout form</h2>
    </div>


    <div class="row">
        <div class="col-md-4 bg-white order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill"></span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" th:each="product: ${products}">
                    <div >
                        <h6 class="my-0" th:text="${product.title}">Product name</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted" th:text="'$'+ ${product.discountPrice * product.orderedAmount}">$12</span>
                </li>

                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Discount</h6>
                        <small></small>
                    </div>
                    <span class="text-success" th:text="'-$'+${order.discount}">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong th:text="${order.totalPrice}">$20</strong>
                </li>
            </ul>


        </div>
        <div class="col-md-8 order-md-1">
            <div class="card">
                <div class="card-header">
                    Checkout
                </div>

                <div class="m-5">
                    <h4 class="mb-3">Shipping address</h4>
                    <form class="needs-validation" novalidate th:action="@{/checkout/payment}" th:object="${order}">

                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input th:field="*{billingAddress}" type="text" class="form-control" id="address" placeholder="City , ZipCode, State" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>



                    </form>

                    <form action='/charge' method='POST' id='checkout-form'>
                        <input type='hidden' th:value='${amount}' name='amount' />
                        <label>Price:<span th:text='${amount/100}' /></label>
                        <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                        <script
                                src='https://checkout.stripe.com/checkout.js'
                                class='stripe-button'
                                th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
                                data-name='Merkato'
                                data-description='Payment'
                                data-locale='auto'
                                data-zip-code='false'>

                        </script>
                        <script>
                            // Hide default stripe button, be careful there if you
                            // have more than 1 button of that class
                            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                        </script>
                        <button type="submit"  class="btn btn-primary btn-lg btn-block">COMPLETE ORDER</button>
                    </form>
                </div>

            </div>


        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        //event.preventDefault();
                        //event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


<div th:replace="shared/footer :: footer">
</div>
</body>
</html>