<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="buyer/partial/header_includes :: head">

</head>
<body>
<header th:replace="buyer/partial/header :: navbar-default">
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>


<div class="container">
    <div class="row">

        <div class="col"></div>
        <div class="col-10">

            <div class="d-flex flex-row justify-content-lg-center flex-wrap mt-3">
                <div th:if="${orderViewModels}" th:each="orderView : ${orderViewModels}" class="card border-success" style="width: 100%;">
<!--                    <div class="card-header bg-transparent border-success">Header</div>-->
                    <div class="card-body">
                        <h5 class="card-title" >
                            <span class="text-success" th:text="'Status: '+ ${orderView.order.orderStatus}">Ordered</span>
                            <span class="float-right" th:if="${isCurrent}">
                                <span>Change Status </span>
                                <select class="md-form mdb-select colorful-select dropdown-primary select-status " >
                                    <option value="0">Ordered</option>
                                    <option value="1">Shipped</option>
                                    <option value="2">Delivered</option>
                                </select>
                            </span>
                        </h5>

                        <div th:if="${orderView.productList}" th:each="product : ${orderView.productList}" class="card-text float-left m-1">
                            <p><strong th:text="${product.title}"></strong></p>
                            <p>
                                <span th:if="${product.images}">
                                    <img class="card-img-top" style="max-width:150px;" th:src="${product.images[0].imageURL}" alt="Card image cap">
                                </span>
                                <span th:unless="${product.images}">
                                    <img class="card-img-top" th:src="${/images/products/no-image-available.png}" alt="Card image cap">
                                </span>
                            </p>
                            <p class="font-weight-bold red-text py-2">
                                <span th:text="'Sub total: $'+ ${product.discountPrice * product.orderedAmount}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-success" >
                       <span th:text="${orderView.order.totalPrice}"></span>
                       <span th:text="'Gained points: '"></span>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            var status = /*[[${orderView.order.payment.chargeId}]]*/ 'default';
                            var chargeId = /*[[${orderView.order.payment.chargeId}]]*/ 'default';
                            var balanceTransaction = /*[[${orderView.order.payment.balanceTransaction}]]*/ 'default';
                            var totalPrice = /*[[${orderView.order.totalPrice}]]*/ 'default';

                            var doc = new jsPDF();

                            doc.text('Date : '+new Date().toJSON().slice(0,10).replace(/-/g,'/'),10,10);
                            doc.text('status : ' + status , 10, 20);
                            doc.text('chargeId : ' +chargeId, 10, 30);
                            doc.text('balanceTransaction : '+balanceTransaction, 10, 40);
                            doc.text('Total Price : $'+totalPrice, 10, 50);


                            /*]]>*/
                        </script>

                        <button class="btn badge-light" id="generate-pdf">Download Receipt</button>
                        <div class="float-right" th:if="${isCurrent}">

                            <button class="btn btn-danger pull-right" id="cancel">Cancel Order</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>


<div th:replace="shared/footer :: footer">
</div>




</body>
</html>